Repository heliomar-pena/i18n-populator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md}": ["prettier --write"]
}

fix: now links are more dynamic
  .gitignore
  CONTRIBUTING.md
  README.md
  i18n-populator.config.json
  package.json
  src/config.ts
  src/controllers/generateConfigController.ts
  src/services/translateService.ts
Due: prettier --write

fix: removed dist folder repo
  dist/cli.cjs
Due: none

2.0.1
  package-lock.json
  package.json
Due: prettier --write

fix: restored i18n config file
  i18n-populator.config.json
Due: prettier --write

fix: removed old libretranslate mirrors
  i18n-populator.config.json
  src/services/libreTranslate.ts
Due: prettier --write

feat: add sort option to i18n config
  README.md
  i18n-populator.config.json
Due: prettier --write

fix: sort configuration
  README.md
  docs/sort.md
  i18n-populator.config.json
Due: prettier --write

fix: add sort function
  src/controllers/translateController.ts
  src/types/settings.d.ts
  src/utils/sortElements.ts
Due: none

fix: sort function
  src/controllers/translateController.ts
  src/utils/sortElements.ts
  src/utils/sortObjectKeys.ts
Due: none

feat: integrate openapi to the translate engines
  .gitignore
  i18n-populator.config.json
  package.json
  yarn.lock
Due: prettier --write

fix: resolve comments and add tests
  src/controllers/translateController.ts
  src/types/settings.d.ts
  src/types/settings.ts
  src/utils/sortObjectKeys.test.ts
  src/utils/sortObjectKeys.ts
Due: none

fix: response of openai
  src/services/bingTranslate.ts
  src/types/settings.d.ts
  src/utils/translationEnginesUtils.ts
Due: none

feat: adding new defaulf values
  .env
  .env.example
  .gitignore
  package.json
Due: prettier --write

feat: adding new handler error
  src/ALL-LANGUAGES-CODES.json
Due: prettier --write

fix: tests and logic sortobjectkeys
  jest.config.js
  src/controllers/translateController.ts
  src/types/settings.ts
  src/utils/sortObjectKeys.test.ts
  src/utils/sortObjectKeys.ts
Due: prettier --write, eslint --fix, eslint

fix: function sortobjectkey and logic tests
  jest.config.js
  jest.setup.ts
  src/controllers/translateController.ts
  src/utils/sortObjectKeys.test.ts
  src/utils/sortObjectKeys.ts
Due: prettier --write, eslint --fix, eslint

fix: sortobjectkeys and jest setup
  docs/sort.md
  jest.setup.ts
  src/utils/sortObjectKeys.ts
Due: prettier --write

refactor: clean up code
  .env
  .env.example
  src/services/bingTranslate.ts
  src/services/deeplTranslate.ts
  src/types/settings.d.ts
Due: none

feat: adding file
  src/services/openAiTranslate.ts
Due: none

feat: adding new defaulf values
  .env
  .env.example
Due: none

refactor: langueges
  src/ALL-LANGUAGES-CODES.json
  src/services/openAiTranslate.ts
  src/types/settings.d.ts
Due: prettier --write

fix: adding oprional key
  README.md
  src/types/settings.d.ts
Due: prettier --write

fix: delete unnecesary file
  src/services/deeplTranslate.ts
Due: none

feat: clean up code
  src/services/openAiTranslate.ts
Due: none

fix: sortobjectkeys
  docs/sort.md
  src/utils/sortObjectKeys.ts
Due: prettier --write

feat: integrete new translate engine
  README.md
  src/services/deeplTranslate.ts
  src/types/settings.d.ts
  src/utils/translationEnginesUtils.ts
Due: prettier --write

fix: unnecessary changes
  README.md
  src/ALL-LANGUAGES-CODES.json
  src/services/deeplTranslate.ts
  src/services/openAiTranslate.ts
  src/types/settings.d.ts
  src/utils/translationEnginesUtils.ts
Due: prettier --write

fix: sorthandlers and sortobjectkeys
  src/utils/sortObjectKeys.ts
Due: none

feat: adding new configs to openai
  src/services/openAiTranslate.ts
  src/types/settings.d.ts
Due: none

chore: Deleted unused import
  src/controllers/translateController.ts
Due: none

feat: saving changes
  src/types/settings.d.ts
Due: none

feat: adding supported languages
  README.md
  src/ALL-LANGUAGES-CODES.json
  src/services/deeplTranslate.ts
  src/services/openAiTranslate.ts
  src/types/settings.d.ts
  src/utils/translationEnginesUtils.ts
Due: prettier --write
