Repository heliomar-pena/i18n-populator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md}": ["prettier --write"]
}

chore: removed node 14 from tests since husky doesn't support it
  .github/workflows/tests.yml
Due: none

chore: deleting unused files and improving code-style
  .prettierrc
  cli.js
  controllers/translateController.js
Due: prettier --write, eslint --fix, eslint

chore: fixing small details
  CONTRIBUTING.md
  controllers/generateConfigController.js
  controllers/generateConfigController.test.js
Due: prettier --write, eslint --fix, eslint

ran cjs to es6
  cli.js
  config.js
  controllers/generateConfigController.js
  controllers/generateConfigController.test.js
  controllers/languagesController.js
  controllers/translateController.js
  controllers/translateController.test.js
  eslint.config.mjs
  jest.config.cjs
  package.json
  services/bingTranslate.js
  services/libreTranslate.js
  services/translateService.js
  services/translateService.test.js
  utils/getConfigPath.js
  utils/getConfigPath.test.js
  utils/getOrCreateJsonFile.js
  utils/getOrCreateJsonFile.test.js
  utils/getTranslationEnginePreferences.js
  utils/getTranslationEnginePreferences.test.js
  utils/listFiles.js
  utils/objectUtils.js
  utils/objectUtils.test.js
  utils/promptUtils.js
  utils/promptUtils.test.js
  utils/supportedLanguagesUtils.js
  utils/supportedLanguagesUtils.test.js
  utils/translationEnginesUtils.js
  utils/validateAndPromptUserJSONFiles.js
  utils/validateAndPromptUserJSONFiles.test.js
  utils/validateSettingsFile.js
Due: prettier --write, eslint --fix, eslint

fixed imports manually
  cli.js
  controllers/generateConfigController.js
  controllers/generateConfigController.test.js
  controllers/languagesController.js
  controllers/translateController.js
  controllers/translateController.test.js
  i18n-populator.config.json
  services/bingTranslate.js
  services/libreTranslate.js
  services/translateService.js
  services/translateService.test.js
  utils/getConfigPath.js
  utils/getConfigPath.test.js
  utils/getOrCreateJsonFile.js
  utils/getOrCreateJsonFile.test.js
  utils/getTranslationEnginePreferences.js
  utils/getTranslationEnginePreferences.test.js
  utils/importJSONFile.js
  utils/listFiles.js
  utils/objectUtils.js
  utils/objectUtils.test.js
  utils/promptUtils.js
  utils/promptUtils.test.js
  utils/supportedLanguagesUtils.js
  utils/supportedLanguagesUtils.test.js
  utils/translationEnginesUtils.js
  utils/validateAndPromptUserJSONFiles.js
  utils/validateAndPromptUserJSONFiles.test.js
  utils/validateSettingsFile.js
Due: prettier --write, eslint --fix, eslint

added jest mjs config file
  jest.config.cjs
  jest.config.mjs
  jest.setup.mjs
  package-lock.json
  package.json
Due: prettier --write

refactor: added prompt sync plus and skipped some tests hard to fix
  controllers/generateConfigController.test.js
  controllers/translateController.test.js
  jest.setup.mjs
  package-lock.json
  package.json
  services/translateService.test.js
  utils/getConfigPath.test.js
  utils/promptUtils.js
  utils/promptUtils.test.js
  utils/validateAndPromptUserJSONFiles.test.js
Due: prettier --write, eslint --fix, eslint

using unstableMockModule function to mock in es modujes
  controllers/generateConfigController.js
  controllers/generateConfigController.test.js
  jest.setup.mjs
  utils/promptUtils.test.js
Due: prettier --write, eslint --fix, eslint

refactor: fixing the mock of prompt-sync-plus
  controllers/generateConfigController.test.js
  utils/promptUser.js
  utils/promptUtils.js
  utils/promptUtils.test.js
Due: prettier --write, eslint --fix, eslint

refactor: promptUser mock now is globally mocked
  cli.js
  controllers/generateConfigController.js
  controllers/generateConfigController.test.js
  controllers/languagesController.js
  controllers/translateController.js
  controllers/translateController.test.js
  i18n-populator.config.json
  jest.config.mjs
  jest.setup.mjs
  services/bingTranslate.js
  services/libreTranslate.js
  services/translateService.js
  services/translateService.test.js
  utils/getConfigPath.js
  utils/getConfigPath.test.js
  utils/getOrCreateJsonFile.js
  utils/getOrCreateJsonFile.test.js
  utils/getTranslationEnginePreferences.test.js
  utils/importJSONFile.js
  utils/listFiles.js
  utils/objectUtils.test.js
  utils/promptUser.js
  utils/promptUtils.test.js
  utils/supportedLanguagesUtils.js
  utils/supportedLanguagesUtils.test.js
  utils/translationEnginesUtils.js
  utils/validateAndPromptUserJSONFiles.js
  utils/validateAndPromptUserJSONFiles.test.js
  utils/validateSettingsFile.js
Due: prettier --write, eslint --fix, eslint

fix: fixing import prompt
  utils/promptUtils.js
Due: prettier --write, eslint --fix, eslint

feat: improved prompt-sync-plus behavior
  utils/promptUtils.js
Due: prettier --write, eslint --fix, eslint

fix: restored libreTranslate on example i18n populator config file
  i18n-populator.config.json
Due: prettier --write

fix: fixing coverage and watch jest commands
  jest.config.mjs
  package.json
Due: prettier --write

fix: changed autocomplete behavior
  utils/promptUtils.js
Due: prettier --write, eslint --fix, eslint

fix: fixing import default on mocked test
  cli.js
  controllers/generateConfigController.js
  controllers/generateConfigController.test.js
  controllers/languagesController.js
  controllers/translateController.js
  controllers/translateController.test.js
  utils/validateSettingsFile.js
Due: prettier --write, eslint --fix, eslint

fix: clearing console before asking translation engines
  controllers/generateConfigController.js
Due: prettier --write, eslint --fix, eslint

fix: fixed getOrCreateJSONFile
  controllers/generateConfigController.test.js
  jest.setup.mjs
  utils/getOrCreateJsonFile.test.js
Due: prettier --write, eslint --fix, eslint

fix: fixing translateController test
  controllers/translateController.test.js
Due: prettier --write, eslint --fix, eslint

fix: fixed validateAndPrompUserJSONFiles tests
  utils/validateAndPromptUserJSONFiles.test.js
Due: prettier --write, eslint --fix, eslint
