Repository heliomar-pena/i18n-populator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md}": ["prettier --write"]
}

test: improve style with Given-When-Then
  utils/convertPathToUnixStyle.test.js
Due: prettier --write, eslint --fix, eslint

test: improve style with Given-When-Then
  utils/normalizeFilePath.test.js
Due: prettier --write, eslint --fix, eslint

test: cover other test case
  utils/convertPathToUnixStyle.test.js
Due: prettier --write, eslint --fix, eslint

chore: fixed error node 14 and added nit suggestion
  utils/convertPathToUnixStyle.js
  utils/convertPathToUnixStyle.test.js
  utils/importJSONFile.js
  utils/normalizeFilePath.js
  utils/normalizeFilePath.test.js
Due: prettier --write, eslint --fix, eslint

feat: add EOF at the end of the JSON file
  controllers/translateController.js
  controllers/translateController.test.js
Due: prettier --write, eslint --fix, eslint

1.1.1
  package-lock.json
  package.json
Due: prettier --write

feat: add support for custom mirrors in Libretranslate
  cli.js
  services/libreTranslate.js
  utils/getConfig.js
Due: prettier --write, eslint --fix, eslint

fix: add support for custom mirrors in libretranslate
  cli.js
  controllers/translateController.js
  i18n-populator.config.json
  services/libreTranslate.js
Due: prettier --write, eslint --fix, eslint

fix: add support for custom mirrors in libretranslate and structure
  controllers/translateController.js
  i18n-populator.config.json
  services/translateService.js
  services/translateService.test.js
  utils/getConfig.js
  utils/getTranslationEnginePreferences.js
  utils/getTranslationEnginePreferences.test.js
Due: prettier --write, eslint --fix, eslint

refactor: started migrating translateController
  src/cli.ts
  src/controllers/translateController.d.ts
  src/controllers/translateController.ts
  src/services/bingTranslate.ts
  src/services/libreTranslate.ts
  src/services/translate.d.ts
  src/services/translateService.d.ts
  src/services/translateService.ts
  src/types/settings.d.ts
  src/utils/getConfigPath.js
  src/utils/getConfigPath.ts
  src/utils/supportedLanguagesUtils.js
  src/utils/translationEnginesUtils.d.ts
  src/utils/translationEnginesUtils.ts
  src/utils/validateSettingsFile.ts
  utils/getConfigPath.test.js
Due: prettier --write, eslint --fix, eslint

refactor: migrated translateController 100%
  src/services/translateService.d.ts
  src/services/translateService.ts
  src/types/settings.d.ts
  src/utils/getTranslationEnginePreferences.d.ts
  src/utils/getTranslationEnginePreferences.ts
  src/utils/validateAndPromptUserJSONFiles.d.ts
  src/utils/validateAndPromptUserJSONFiles.ts
Due: none

fix: add support for custom mirrors in libretranslate
  services/translateService.js
  utils/translationEnginesUtils.js
Due: prettier --write, eslint --fix, eslint

feat: started moving out tests, starting with translateServices.test.ts
  jest.config.js
  jest.config.mjs
  jest.setup.ts
  package-lock.json
  package.json
  src/cli.ts
  src/controllers/generateConfigController.js
  src/controllers/generateConfigController.test.js
  src/controllers/languagesController.js
  src/controllers/translateController.test.js
  src/controllers/translateController.ts
  src/services/translateService.test.ts
  src/services/translateService.ts
  src/utils/convertPathToUnixStyle.test.js
  src/utils/getConfigPath.test.js
  src/utils/getConfigPath.ts
  src/utils/getOrCreateJsonFile.js
  src/utils/getOrCreateJsonFile.test.js
  src/utils/getTranslationEnginePreferences.test.js
  src/utils/getTranslationEnginePreferences.ts
  src/utils/importJSONFile.js
  src/utils/normalizeFilePath.test.js
  src/utils/objectUtils.test.js
  src/utils/promptUtils.js
  src/utils/promptUtils.test.js
  src/utils/supportedLanguagesUtils.d.ts
  src/utils/supportedLanguagesUtils.test.js
  src/utils/supportedLanguagesUtils.ts
  src/utils/validateAndPromptUserJSONFiles.test.js
  src/utils/validateAndPromptUserJSONFiles.ts
  src/utils/validateSettingsFile.ts
Due: prettier --write, eslint --fix, eslint

fix: updated tests translateController.test.ts
  jest.setup.ts
  src/controllers/translateController.test.js
  src/controllers/translateController.test.ts
  src/utils/getOrCreateJsonFile.ts
  src/utils/objectUtils.ts
  src/utils/promptUtils.ts
  src/utils/supportedLanguagesUtils.ts
  src/utils/validateSettingsFile.ts
Due: prettier --write, eslint --fix, eslint

test: added languageControllers tests
  src/controllers/languagesController.d.ts
  src/controllers/languagesController.test.ts
  src/controllers/languagesController.ts
  src/utils/supportedLanguagesUtils.d.ts
Due: none

chore: removed unused util
  src/controllers/translateController.test.ts
  src/utils/convertPathToUnixStyle.js
  src/utils/convertPathToUnixStyle.test.js
Due: prettier --write, eslint --fix, eslint

refactor: migrated generateConfigController file to ts
  src/controllers/generateConfigController.test.ts
  src/controllers/generateConfigController.ts
  src/utils/listFiles.ts
Due: none

feat: migrated getOrCreateJsonFile tests
  jest.setup.ts
  src/cli.ts
  src/utils/getConfigPath.test.ts
  src/utils/getOrCreateJsonFile.test.js
  src/utils/getOrCreateJsonFile.test.ts
  src/utils/promptUtils.test.ts
  src/utils/promptUtils.ts
  src/utils/validateAndPromptUserJSONFiles.test.ts
Due: prettier --write, eslint --fix, eslint

chore: ran prettier
  dist/cli.mjs
  jest.config.js
  jest.setup.ts
  src/cli.ts
  src/controllers/generateConfigController.test.ts
  src/controllers/generateConfigController.ts
  src/controllers/languagesController.d.ts
  src/controllers/languagesController.test.ts
  src/controllers/languagesController.ts
  src/controllers/translateController.d.ts
  src/controllers/translateController.test.ts
  src/controllers/translateController.ts
  src/services/bingTranslate.ts
  src/services/libreTranslate.ts
  src/services/translate.d.ts
  src/services/translateService.d.ts
  src/services/translateService.ts
  src/types/settings.d.ts
  src/utils/getOrCreateJsonFile.test.ts
  src/utils/listFiles.ts
  src/utils/promptUtils.ts
  src/utils/supportedLanguagesUtils.d.ts
  src/utils/supportedLanguagesUtils.ts
  src/utils/translationEnginesUtils.ts
  src/utils/validateAndPromptUserJSONFiles.d.ts
  src/utils/validateSettingsFile.ts
Due: prettier --write, eslint --fix, eslint

feat: migrated supportedLanguagesUtils to ts
  src/services/translateService.d.ts
  src/utils/getTranslationEnginePreferences.test.js
  src/utils/getTranslationEnginePreferences.test.ts
  src/utils/getTranslationEnginePreferences.ts
  src/utils/importJSONFile.js
  src/utils/normalizeFilePath.js
  src/utils/normalizeFilePath.test.js
  src/utils/objectUtils.test.ts
  src/utils/promptUser.js
  src/utils/promptUser.ts
  src/utils/supportedLanguagesUtils.test.js
  src/utils/supportedLanguagesUtils.test.ts
  src/utils/validateAndPromptUserJSONFiles.test.ts
Due: prettier --write, eslint --fix, eslint

chore: using node 23 to run test
  .github/workflows/tests.yml
Due: none
